@using UserPortal.Models
@model RegistrationViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    



    <title>Registration</title>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3"> </div>
                <div class="col-sm-7" style="margin-top: 48px">
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <i class="fa fa-address-book" style="font-size:100px"></i>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;margin-bottom:20px;">
                        <div class="col-sm-12" style="text-align:center">
                            Registration Panel
                        </div>
                    </div>
                    <span class="border border-dark">
                        <div class="row" style="border: 1px solid black;margin-top: 3px;">
                            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form",style="margin-top:20px;" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" }) @ViewBag.unique
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">BirthDate:</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control", data_provide = "datepicker" } })
                                       

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                                    <div class="col-sm-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Register</button> <button type="button" class="btn btn-default"> <a href="/Account/Login">Cancel</a></button>
                                    </div>
                                </div>

                            }
                        </div>
                    </span>

                </div>


                <div class="col-sm-2"> </div>
            </div>

        </div>
    </div>

</body>
</html>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#RequestDate').datepicker();
    </script>
}